body {
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden; 
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.hero-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
}

.hero-image {
    flex: 1;
    height: 300px; 
    background: url('asedsdcsdc.png') center/cover no-repeat;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: moveBackground 20s linear infinite;
}

.hero-description {
    flex: 1;
    padding: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
